<div>Hi {name},<br /><br /></div>
<div>
    <div>My name is {main_contact_name}. I am part of an organization called Enza Academy, and we are hosting a hackathon called HackFest (<a href="hackfest.nyc">hackfest.nyc</a>) for young professionals (college students are welcome)
        from April 19 to 21 at Microsoft's NYC office in the 11 Times Square building, and we would be excited if {company} could partner with us. In the last event,
        we hosted about 100 students at the Microsoft Reactor at Grand Central and gave away more than $3000 in prize money (including Bitcoin)! You can find the media for past events below.
        <div>
            <br/>
            <u>Media for Past Events</u>
            <br/>
            College Hackathon<br/>
        </div>
        <div>
            <ul>
                <li style="margin-left:15px">
                    Photos:
                    <a href="https://www.facebook.com/pg/EnzaAcademy/photos/?tab=album&album_id=883376001822997">https://www.facebook.com/pg/EnzaAcademy/photos/?tab=album&album_id=883376001822997</a>
                </li>
            </ul>
        </div>
        <div>High School Hackathon</div>
        <div>
            <ul>
                <li style="margin-left:15px">Video:&nbsp;
                    <a href="https://youtu.be/0Wkq43-9zjM">https://youtu.be/0Wkq43-9zjM</a>
                </li>
                <li style="margin-left:15px">
                    Photos:&nbsp;
                    <a href="https://www.facebook.com/pg/EnzaAcademy/photos/?tab=album&amp;album_id=839864776174120" >https://www.facebook.com/pg/EnzaAcademy/photos/?tab=album&amp;album_id=839864776174120</a>
                </li>
            </ul>
        </div>
        <div>
            <br/> I have attached the sponsorship package and other event information. If you have any questions or comments, please let me know.
        </div>
    <br />Thank you for considering to partner with Enza!<br /><br/>

    </div>
Regards,<br />
</div>
<p>{main_contact_name} </p>
